.our-services {
    background-color: #F0EFE9;
    margin: 0;
  }
  .our-services img.background-lines2 {
    position: relative;
    left: 73em;
  }
  @media (max-width: 576px) {
    .our-services img.background-lines2 {
      display: none;
    }
  }
  .our-services .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  @media (max-width: 1200px) {
    .our-services .container {
      justify-content: center;
    }
  }
  .our-services .container .services {
    display: grid;
    grid-template-columns: auto;
    flex-direction: row;
    gap: 2rem;
  }
  @media (min-width: 576px) {
    .our-services .container .services {
      grid-template-columns: auto;
      width: auto;
    }
  }
  @media (min-width: 768px) {
    .our-services .container .services {
      grid-template-columns: 1fr;
      width: 50%;
    }
  }
  @media (min-width: 1200px) {
    .our-services .container .services {
      grid-template-columns: auto auto auto auto;
      width: 100%;
      justify-content: center;
    }
  }
  .our-services .container .services .line-short {
    margin-top: 0.1rem;
    border-top: solid 1px black;
    height: 1px;
    width: 20%;
  }
  .our-services .container .services .box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border: solid 1px black;
    padding: 3rem 2rem;
    justify-content: space-between;
  }
  .our-services .container .services .box-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f9d783;
    border: solid 1px black;
    padding: 3rem 2rem;
    justify-content: space-between;
  }
  .our-services .container .services h3 {
    padding-top: 30px;
    color: #191919;
    font-family: "DM Sans", sans-serif;
    font-size: 22px;
    font-weight: bold;
    line-height: 33px;
  }
  .our-services .container .services .circle-hack {
    display: flex;
    justify-content: end;
  }
  .our-services .container .services .btn-round {
    display: flex;
    justify-content: center;
    align-items: center;
    display: block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 0 auto;
  }
  .our-services .container .services .btn-round-black {
    display: flex;
    justify-content: center;
    align-items: center;
    display: block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 0 auto;
  }