// Omarbetad version från Article & News
.container {

    .articles-list {
        background-color: #FFFFFF;

        a {
            text-decoration: none;
        }

        // display: flex;
        // grid-template-columns: 1fr 1fr 1fr;
        // flex-direction: row;
        // gap: 2rem;

        // @media (max-width: 992px) {
        //     flex-wrap: wrap;
        // }

        .grid-container {
            display: grid;
            // grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            grid-template-columns: 1fr 1fr 1fr;
            gap: 20px;

            .grid-item {
                background-color: #ffffff;
                // border: 1px solid #ddd;
                padding: 15px;

                p {
                    font-family: 'Inter', sans-serif;
                    font-weight: 500;
                    font-size: 16px;
                    font-style: normal;
                    text-align: left;
                    color: #6A6C71;
                }

                h3 {
                    color: #191919;
                    font-family: 'DM Sans', sans-serif;
                    font-size: 22px;
                    font-weight: bold;
                    line-height: 33px;
                    padding-top: 15px;
                }

                // img {
                //     width: 100%;
                //     height: auto;
                // }
            }
        }
    }
}

.NewsDetails {   

    .container {

        text-decoration: none;

        display: flex;
        flex-direction: row;
   
        .form-column {
            flex: 2/3;

          
                background-color: #ffffff;
                // border: 1px solid #ddd;
                padding: 15px;
    
                p {
                    font-family: 'Inter', sans-serif;
                    font-weight: 500;
                    font-size: 16px;
                    font-style: normal;
                    text-align: left;
                    color: #6A6C71;
                }
    
                h3 {
                    color: #191919;
                    font-family: 'DM Sans', sans-serif;
                    font-size: 22px;
                    font-weight: bold;
                    line-height: 33px;
                    padding-top: 15px;
                }
        }

        .right-side {
            flex: 1;
        }
    }
}