.nav-section {}

.nav-section .container {
  width: 100%;
  padding: 0 1rem;
  margin: 0 auto;
}

nav a {
  display: inline-block;
  color: #191919;
  text-decoration: none;
  margin-right: 35px;
  position: relative;
}

nav a.active {
  font-weight: 500;
}

nav a.active::after,
nav a:hover::after {
  content: "";
  position: absolute;
  font-weight: 500;
  height: 2px;
  width: 15px;
  background-color: #191919;
  left: 50%;
  bottom: -3px;
  transform: translate(calc(50% - 15px));
}
@media (min-width: 1400px) {
  .nav-section .container {
    max-width: 1320px;
  }
}